body {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.btn {
  background: white;
  border-radius: 5px;
  padding: 10px 15px;
  outline: none; }
  .btn:active {
    background: #666666; }

.hasMenu {
  position: relative; }
  .hasMenu .menu {
    position: absolute;
    display: none;
    top: 100%;
    min-width: 150px;
    background: #888888;
    border-radius: 5px; }
  .hasMenu.pressed {
    background: #666666; }
    .hasMenu.pressed .menu {
      display: block; }

.container {
  display: -webkit-flex;
  display: -webkit-box-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10px; }

.board {
  display: -webkit-flex;
  display: -webkit-box-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 500px;
  -webkit-flex-direction: column;
  flex-direction: column; }

.row {
  display: -webkit-flex;
  display: -webkit-box-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.column {
  display: -webkit-flex;
  display: -webkit-box-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  flex-direction: column;
  border: 1px blue solid; }

.grid {
  width: 33%;
  border: 1px black solid;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }
  .grid.error-column, .grid.error-row, .grid.error-block {
    color: red; }
  .grid.pressed {
    background: gray; }
  .grid.immutable {
    font-weight: bold;
    color: black; }

.popup {
  position: absolute;
  opacity: 0;
  background: red;
  padding: 5px;
  border-radius: 5px;
  width: 5px;
  height: 5px;
  -webkit-transition: opacity 0.4s, width 0.5s, height 0.5s;
  -moz-transition: opacity 0.4s, width 0.5s, height 0.5s;
  transition: opacity 0.4s, width 0.5s, height 0.5s; }
  .popup .popupHeader, .popup .popupContent {
    display: none; }
  .popup.open {
    opacity: 1;
    width: auto;
    height: auto; }
    .popup.open .popupHeader, .popup.open .popupContent {
      display: block; }
  .popup.winPopup {
    width: 100px;
    text-align: center;
    background: #888888;
    padding: 15px; }
    .popup.winPopup.open {
      top: 40%;
      left: 45%; }
  .popup .popupHeader {
    border-bottom: 2px white solid; }

body {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.load .menu {
  top: 120%; }
  .load .menu li {
    padding: 10px;
    display: -webkit-flex;
    display: -webkit-box-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .load .menu li:hover span, .load .menu li:active span {
      color: white; }
    .load .menu li span {
      margin: 0 5px; }
    .load .menu li .remove {
      color: white;
      font-size: 15px;
      line-height: 10px; }
      .load .menu li .remove:hover, .load .menu li .remove:active {
        color: #800080; }

/*# sourceMappingURL=main.css.map */
