html
  head
    title Uber - Sudoku
    link(href='css/main.css', rel='stylesheet', type='text/css')
  body
    .container
      .board
        .row
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
        .row
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
        .row
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
          .column
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid
            .row
              .grid
              .grid
              .grid

    script(data-main='js/main.js', src='public/js/require.js')
