html
  head
    title Uber - Sudoku
    link(href='css/main.css', rel='stylesheet', type='text/css')
  body
    .container
      .board

    script(data-main='js/main.js', src='public/js/require.js')
