include mixin/listItems

.container
  button.btn.next Next Game
  button.btn.save Save
  button.btn.load.hasMenu Load
    .menu
      ul
        mixin listItems(games, timeFormat)
.container
  .board
.popup.winPopup
  header.popupHeader Congratulation!
  .popupContent
    div The problem solved!