.popup.inputPop
  .popupHeader
  .popupContent
    .row
      button.btn(data-number="1") 1
      button.btn(data-number="2") 2
      button.btn(data-number="3") 3
    .row
      button.btn(data-number="4") 4
      button.btn(data-number="5") 5
      button.btn(data-number="6") 6
    .row
      button.btn(data-number="7") 7
      button.btn(data-number="8") 8
      button.btn(data-number="9") 9
    button.btn(data-number="0") remove
