.popup
  position: absolute
  opacity: 0
  background: red
  padding: 5px
  border-radius: 5px
  +transition(opacity .4s, top .5s, left .5s)
  // +transition(top, .5s)
  // +transition(left, .5s)

  &.open
    opacity: 1

  &.winPopup
    width: 100px
    text-align: center
    background: $medGrey
    padding: 15px

    &.open
      top: 40%
      left: 45%

  .popupHeader
    border-bottom: 2px white solid
